doc/ms.aux
doc/ms.log
doc/ms.out
doc/ms.pdf
doc/Definitions/*.pdf
__pycache__
main
rng_seed.out
output/*.csv
output/*.png
output/*.txt
logfile
libtwinpeaks2018.a
python/build/
python/dist/
python/twinpeaks2018.egg-info/
python/twinpeaks2018/dist/
python/twinpeaks2018/twinpeaks2018.egg-info/

